<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/assets/stylesheets/style.css" />
		<link rel="stylesheet" href="/assets/styles/salesforce-lightning-design-system.css" />
		<script src="/assets/scripts/jquery.min.js"></script>
		<script src="/assets/scripts/dateFormat.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript">			
			var socket = io();
			socket.on('event-processed', function (data) {
				var results = JSON.parse(data);
				console.log(results);		
				
				var returnRequestCreatedDate = new Date(results['payload']['Return_Request_Created_Date__c']);
				var assetInstallDate = new Date(results['payload']['Asset_Install_Date__c']);
				var lastUpdatedTime = new Date(results['payload']['Last_Updated_Time__c']);

				var newPlatformEvent = '<div class="slds-tile slds-media slds-media--center slds-box">' +
					'	<div class="slds-media__figure">' +
					'		<svg aria-hidden="true" class="slds-icon slds-icon--standard slds-icon-custom-96">' +
					'			<use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom96"></use>' +
					'		</svg>' +
					'	</div>' +
					'	<div class="slds-media__body">' +
					'		<p class="slds-text-heading--label">Replay ID: ' + results['event']['replayId'] + '</p>' +
					'		<h3 class="slds-truncate slds-text-heading--small" title="RMA Info">' + results['payload']['RMA_Number__c'] + '</h3>' +
					
					'		<div class="slds-tile__detail slds-text-body--small slds-p-top--medium">' +
					'			<dl class="slds-dl--horizontal">' +
					'				<dt class="slds-dl--horizontal__label">' +
					'					<p class="slds-truncate" title="Replay Id">Replay Id:</p>' +
					'				</dt>' +
					
					'				<dt class="slds-dl--horizontal__label">' +
					'					<p class="slds-truncate" title="Asset Name">Asset Name:</p>' +
					'				</dt>' +
					'				<dd class="slds-dl--horizontal__detail slds-tile__meta">' +
					'					<p class="slds-truncate" title="' + results['payload']['Asset_Name__c'] + '">' + results['payload']['Asset_Name__c'] + '</p>' +
					'				</dd>' +
						
					'				<dt class="slds-dl--horizontal__label">' +
					'					<p class="slds-truncate" title="Serial Number">Serial Number:</p>' +
					'				</dt>' +
					'				<dd class="slds-dl--horizontal__detail slds-tile__meta">' +
					'					<p class="slds-truncate" title="' + results['payload']['Serial_Number__c'] + '">' + results['payload']['Serial_Number__c'] + '</p>' +
					'				</dd>' +
					
					'				<dt class="slds-dl--horizontal__label">' +
					'					<p class="slds-truncate" title="Return Status">Return Status:</p>' +
					'				</dt>' +
					'				<dd class="slds-dl--horizontal__detail slds-tile__meta">' +
					'					<p class="slds-truncate" title="' + results['payload']['Return_Status__c'] + '">' + results['payload']['Return_Status__c'] + '</p>' +
					'				</dd>'  +
						
					'				<dt class="slds-dl--horizontal__label">' +
					'					<p class="slds-truncate" title="Return Shipment Location">Return Shipment Location:</p>' +
					'				</dt>' +
					'				<dd class="slds-dl--horizontal__detail slds-tile__meta">' +
					'					<p class="slds-truncate" title="' + results['payload']['Return_Shipment_Location__c'] + '">' + results['payload']['Return_Shipment_Location__c'] + '</p>' +
					'				</dd>' +
							
					'				<dt class="slds-dl--horizontal__label">' +
					'					<p class="slds-truncate" title="Return Notes">Return Notes:</p>' +
					'				</dt>' +
					'				<dd class="slds-dl--horizontal__detail slds-tile__meta">' +
					'					<p class="slds-truncate" title="' + results['payload']['Return_Notes__c'] + '">' + results['payload']['Return_Notes__c'] + '</p>' +
					'				</dd>' +
					
					'				<dt class="slds-dl--horizontal__label">' +
					'					<p class="slds-truncate" title="Asset Install Date">Asset Install Date:</p>' +
					'				</dt>' +
					'				<dd class="slds-dl--horizontal__detail slds-tile__meta">' +
					'					<p class="slds-truncate" title="' + results['payload']['Asset_Install_Date__c'] + '">' + dateFormat(assetInstallDate, "m/d/yyyy h:MM:ss TT") + '</p>' +
					'				</dd>' +
					
					'				<dt class="slds-dl--horizontal__label">' +
					'					<p class="slds-truncate" title="Return Request Created Date">Return Request Created Date:</p>' +
					'				</dt>' +
					'				<dd class="slds-dl--horizontal__detail slds-tile__meta">' +
					'					<p class="slds-truncate" title="' + results['payload']['Return_Request_Created_Date__c'] + '">' + dateFormat(returnRequestCreatedDate, "m/d/yyyy h:MM:ss TT") + '</p>' +
					'				</dd>' +
						
					'				<dt class="slds-dl--horizontal__label">' +
					'					<p class="slds-truncate" title="Last Update Time">Last Updated Time:</p>' +
					'				</dt>' +
					'				<dd class="slds-dl--horizontal__detail slds-tile__meta">' +
					'					<p class="slds-truncate" title="' + results['payload']['Last_Updated_Time__c'] + '">' + dateFormat(lastUpdatedTime, "m/d/yyyy h:MM:ss TT") + '</p>' +
					'				</dd>' +
					
					'			</dl>' +
					'		</div>' +
					'	</div>' +
					'</div>';
				$(newPlatformEvent).prependTo('#messages').hide().slideDown();
					  
			})
			
			$(document).ready(function() {
			
				var defaultDate = new Date();
				$("#issueDate").val(dateFormat(defaultDate, "yyyy-mm-dd"));
				
				$("#createBtn").click(function(event) {
					event.preventDefault();
					console.log('In click');
					var eventObj = {};
					eventObj["accountId"] = $('#accountId').val();
					eventObj["item"] = $('#item').val();
					eventObj["serialNumber"] = $('#serialNumber').val();
					eventObj["issueDate"] = $('#issueDate').val();
					eventObj["issueDescription"] = $('#issueDescription').val();
					console.log('eventObj: ' + JSON.stringify(eventObj));
					$.post('/', eventObj, function(resp) {
						console.log("post response: " + resp);
					});
				});
			});
			
		</script>
	</head>
	<body>
    	{{{body}}}
	</body>
</html>
