html, body, #main{
    width: 100%;	/* make the body expand to fill the visible window */
    height: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-family: 'Verdana','Geneva',sans-serif;
}

#listPane tr, #listPane td { cursor: pointer; }

.alignLeft { text-align: left; }

.alignRight { text-align: right; }

body .dojoFloatingPaneDragbar {
    background-color: #274383;
}

body .dojoSplitPane {
    background: #FFFFFF;
}

#footer {
    width: 100%;
}
.dmTabOn {
    border-top:1px solid #333333;
    border-left:1px solid #333333;
    padding:1px 3px 3px 3px;
    cursor:pointer;
    background-color:#FFFFFF;
    color:black;
    height:100%;
}

.dmTabHover {
    border:1px solid #333333;
    padding:1px 3px 3px 3px;
    cursor:pointer;
    background-color:#CCCCCC;
    color:black;
    height:100%;
}

.dmTabOff {
    padding:2px 4px 4px 4px;
    height:20px;
    color:#333333;
}

.footerHeader {
    vertical-align:middle;
    padding-top:2px;
    padding-bottom:2px;
    background-color:#9F9F9F;
    border-bottom:1px solid #666666;
    background-image: url(/apexpages/devmode/img/bg.png);
    height:25px;
    font-size:95%;
    font-weight:bold;
    font-family:Arial;
    vertical-align:middle;
    width:100%;
}

.footerHeaderSub {
    vertical-align:middle;
    padding-top:1px;
    background-color:#9F9F9F;
    background-image: url(/apexpages/devmode/img/bgSub.png);
    height:17px;
    font-size:100%;
    font-weight:bold;
    font-family:Arial;
    vertical-align:middle;
    width:100%;
}

.footerHeaderSub .btn {
    font-size:90%;
}

.footerBody {
    margin-top:4px;
}

.tabGroup {
    color:#9A9A9A;
    font-weight:bold;
}

.tabLine {
    background-color:#9F9F9F;
    font-size: 0px;
    height:2px;
    padding:0px;
    border-bottom:1px solid #666666;
    background-image: url(/apexpages/devmode/img/s.gif);
}

.tabGroupSeparator {
  color:#9A9A9A;
}

.iframeContainerStyle {
    width:auto;
    height:auto;
    display:block;
}

 div.autocomplete {
       position:absolute;
       width:400px;
       background-color:white;
       border:1px solid #888;
       margin:0px;
       padding:0px;
 }
 div.autocomplete ul {
       list-style-type:none;
       margin:0px;
       padding:0px;
 }
 div.autocomplete ul li.selected { background-color: #ffb;}
 div.autocomplete ul li {
       list-style-type:none;
       display:block;
       margin:0;
       padding:2px;
       cursor:pointer;
 }

.expand_icon {
    background-image: url( /img/apexpages/editor/expand.gif );
    width:16px;
    height:16px;
    background-position: top left;
    cursor:pointer;
}

.expand_iconOn {
    background-image: url( /img/apexpages/editor/expand.gif );
    width:16px;
    height:16px;
    background-position: top right;
    cursor:pointer;
}

.collapse_icon {
    background-image: url( /img/apexpages/editor/collapse.gif );
    width:16px;
    height:16px;
    background-position: top left;
    cursor:pointer;
}

.collapse_iconOn {
    background-image: url( /img/apexpages/editor/collapse.gif );
    width:16px;
    height:16px;
    background-position: top right;
    cursor:pointer;
}

/* remove Ext panel title background */
.nostyle-panel-header .x-panel-header {
    text-align: center;
    background: transparent none;
    border: none;
    border-style: none;
    border-width: 0;
}

.highlight-updated {
    background-color: #FFFFCC;
    color: black;
}

.highlight-new {
    background-color: #CCFFCC;
    color: black;
}